<tr id="creds-{{ creds.id }}">
  <td>{{ creds.name }}</td>
  <td>{{ creds.created_at }}</td>
  <td>
    {% if creds.is_revoked %}
    <span class="badge-revoked">Revoked</span>
    {% else %}
    <span class="badge-active">Active</span>
    {% endif %}
  </td>
  <td>
    {% if !creds.is_revoked %}
    <button
      data-gql-mutation="mutation($input: McpCredentialsRevokeInput!) { mcpCredentialsRevoke(input: $input) { mcpCreds { id } } }"
      data-gql-input='{"id":"{{ creds.id }}"}'
      data-gql-confirm="Are you sure you want to revoke these credentials?"
      data-gql-reload="true"
      class="secondary outline"
      style="padding: 0.25rem 0.5rem; margin: 0;"
    >
      Revoke
    </button>
    {% endif %}
  </td>
</tr>
