galoyAgents:
  image:
    digest: "${image_digest}"
    tag: ""
  config:
    server:
      secureCookies: true
    oauth:
      githubClientId: "Ov23livtQjMQ1fB0toPF"
      githubRedirectUri: "https://dashboard.agents.galoy.io/auth/github/callback"
      githubAllowedTeams:
        - "GaloyMoney/galoy-devs"
  ingress:
    enabled: true
    host: dashboard.agents.galoy.io
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
    tls:
      - hosts:
          - dashboard.agents.galoy.io
        secretName: galoy-agents-tls
  secrets:
    create: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi
  tracing:
    serviceName: galoy-agents
    otelExporterOtlpEndpoint: "http://opentelemetry-collector.otel.svc.cluster.local:4317"

postgresql:
  enabled: false
