galoyAgents:
  image:
    digest: "${image_digest}"
  secrets:
    create: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi
  tracing:
    serviceName: galoy-agents
    otelExporterOtlpEndpoint: "http://opentelemetry-collector.otel.svc.cluster.local:4317"

postgresql:
  enabled: false
