galoyAgents:
  image:
    tag: ${image_tag}
  config:
    oauth:
      githubClientId: ${github_client_id}
      githubRedirectUri: ${github_redirect_uri}
  secrets:
    create: false

postgresql:
  image:
    tag: latest
  auth:
    existingSecret: galoy-agents
    secretKeys:
      userPasswordKey: "pg-user-pw"
